@import url('common-yw.css');


header {
    background: #fff;
    height: 220px;


}

header .top {
    position: relative;
    width: 60%;
    margin: 0 auto;

}

header .top h1 {
    height: 160px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

header .top h1 a {
    font-size: 50px;
    color: #333;
}

header .top .gnb {
    position: absolute;
    right: 0;
    top: 10px;
}

header .gnb a {
    color: #333;
    padding: 20px;
}


header nav {
    width: 100%;
    height: 60px;
    background: #333;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    word-spacing: 150px;

}


header nav a {
    color: #fff;
    position: relative;
    text-decoration: none;
}

header nav a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 70px;
    background: white;
    left: 0;
    bottom: -5px;
    opacity: 0;
}

header nav a:hover {}

header nav a:hover:after {
    opacity: 1;

}



/*=========================================*/

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 150px;
}

.banner h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

/*===================================*/
.main {
    width: 60%;
    margin: 80px auto;
}

.main .m1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20vw;
}

.main .m1 img {
    width: 45%;
}

.main .m1 article {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 55px;
    text-align: left;

}

.main .m1 article h2 {
    white-space: pre-line; font-size: 2em;
}

.main .m1 article h2 small {
font-size: 0.7em;
}

.main .m1 article p {
    padding-top: 15px;
    line-height: 25px;
    white-space: pre-line;
      font-size: 18px;

}

.main .m2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 20vw;
}

.main .m2 p {
    width: 50%;
    text-align: right;
    white-space: pre-line;
    line-height: 25px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 55px;
    font-size: 18px;
}

.main .m2 img {
    width: 45%;
}

.main .m3 {
    display: flex;
    justify-content: center;
    height: 20vw;
}

.main .m3 img {
    width: 45%;
    height: 100%;

}

.main .m3 p {
    width: 50%;
    text-align: left;
    white-space: pre-line;
    line-height: 30px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 55px;
      font-size: 18px;
}





/*========================================*/

footer {
    background: #333;
}

footer > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 160px;
    margin: 0 auto;
    padding: 10px;
}

footer > ul li p {
    color: #777;
    white-space: pre-line;
}

footer > ul li:nth-of-type(2) a {
    padding: 10px;
}
