@import url('common-hn.css');

/**********배너**********/
.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-container .imgs {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container .imgs figure {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    position: relative;
}

.swiper-container .imgs figure a {
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 0 0 auto;
}

.swiper-container .imgs figure a img {
    width: 100%;
    height: 100%;
}

/*prev,next btn*/
.imgs .slick-prev,
.imgs .slick-next {
    font-size: 0;
    background: none;
    border: none;
    position: absolute;
    display: none;
}

/*인디*/

.imgs .slick-dots {
    font-size: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.imgs .slick-dots li {
    display: inline-block;
    margin: 0 3px;
}

.imgs .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0;
    border: none;
    padding: 0;
}

.imgs .slick-dots li.slick-active button {
    background: #ad74ce;
}

/**********케이크갤러리**********/
.cake {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cake h2 {
    font-size: 33px;
    line-height: 2;
}

.cake p {
    font-size: 22px;
}

.cake:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    margin: 30px auto;
}

.list {
    width: 100%;
    position: relative;
    margin: 0% auto;
}

.list ul li {}

.list ul li figure {}

.list ul li figure img {
    width: 100%;
    height: 16vw;
}

.list ul li figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
}

.list ul li figure :hover {
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.7;
}

/**********서비스**********/
.service {
    width: 100%;
    background-color: #ededed;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 3%;
}

.service h2 {
    font-size: 33px;
    line-height: 2;
}

.service > p {
    font-size: 22px;
}

.service > p:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    display: flex;
    margin: 30px auto;
}

.s_2 {}

.s_2 > a {
    display: inline-block;
    font-size: 15px;
    color: black;
    margin: 1% 3%;
}

.s_2 a img {}

.s_2 > a > p {
    line-height: 5;
    font-size: 15px;
}

.s_2 a img:nth-of-type(1) {}

.s_2 a img:nth-of-type(2) {}

.s_2 a img:nth-of-type(3) {
    margin-right: 0;
}


/**********베스트후기**********/
.best {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #fcfbe3;
    margin-bottom: 5%;
    padding: 3%;

    position: relative;
}

.best h2 {
    font-size: 33px;
    line-height: 2;
}

.best > img {
    width: 3%;
    position: absolute;
    top: 3.5%;
    left: 52.5%;

}

.best > p {
    font-size: 22px;
}

.best > p:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    display: flex;
    margin: 30px auto;
}

.best > a {
    font-size: 20px;
    text-decoration: none;
}

.best > a > img {
    width: 20px;
}

.b-1 {
    width: 100%;
    margin: 0 auto;
}

.b-2 {
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: white;
    margin-bottom: 10%;
    box-shadow: 0 3px 10px 0;
}

.b-2:nth-of-type(1) {}

.b-2:nth-of-type(2) {}

.b-2:nth-of-type(3) {}

.b-2 > p {
    font-size: 14px;
    line-height: 2;
    text-align: left;
    padding: 30px;
    white-space: pre-line;
    color: #333333;
}

.b-2 > p b {
    font-size: 20px;
}

.b-2 p a {
    font-size: 14px;
    text-decoration-line: underline;
}

.b-3 {
    position: relative;
}

.b-3 img {
    width: 100%;
    /*            object-fit: contain;*/
}

.b-3 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.b-3 > p {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 2;
    text-indent: 30px;
    background: url(../img/119.png)no-repeat 20px #ff6565;
    width: 190px;
    height: 50px;
    border-radius: 100px;
}

/*---------모바일 480----------*/
@media (max-width:480px) {
    main {
        width: 100%;
    }

    /*슬라이더*/
    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-container .imgs {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .swiper-container .imgs figure {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        position: relative;
    }

    .swiper-container .imgs figure a {
        width: 100%;
        height: 100%;
        margin: 0;
        flex: 0 0 auto;
    }

    .swiper-container .imgs figure a img {
        width: 100%;
        height: 100%;
    }

    /*prev,next btn*/
    .imgs .slick-prev,
    .imgs .slick-next {
        font-size: 0;
        background: none;
        border: none;
        position: absolute;
        display: none;
    }

    /*인디*/
    .imgs .slick-dots {
        font-size: 0;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .imgs .slick-dots li {
        display: inline-block;
        margin: 0 3px;
    }

    .imgs .slick-dots li button {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0;
        border: none;
        padding: 0;
    }

    .imgs .slick-dots li.slick-active button {
        background: #ad74ce;
    }

    /*본문*/
    .cake {}

    .cake h2 {
        font-size: 25px;
    }

    .cake p {
        font-size: 16px;
    }

    main .list {}

    main .list a {}

    main .list a ul {}

    main .list a ul li {}

    main .list a ul li:nth-child(1n+7) {
        display: none;
    }

    .list ul li figure {
        width: 100%;
        height: auto;
    }

    .list ul li figure img {
        width: 100%;
        height: 50vw;
    }

    .list ul li figure figcaption {}

    .service {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .service h2 {
        font-size: 25px;
    }

    .service p {
        font-size: 16px;
    }

    .service .s_2 {
        width: 90%;
        margin: 0 auto;
    }

    .s_2 > a {
        margin: 0;
    }

    .s_2 > a > img {
        width: 50%;
    }

    .s_2 > a > p {
        font-size: 16px;
    }

    .best {
        width: 100%;
    }

    .best h2 {
        font-size: 25px;
    }

    .best > img {
        width: 10%;
        position: absolute;
        top: 0%;
        left: 61%;

    }

    .best > p {
        font-size: 16px;
    }

    .best a {
        font-size: 15px;
    }

    .best .b-1 {
        width: 100%;
        margin: 0 auto;
    }

    .best .b-1 .b-2 p {
        font-size: 14px;
    }

    .best .b-1 .b-2 .b-3 > p {
        width: 120px;
        height: 30px;
        background: url(../img/119-2.png) no-repeat 5px #ff6565;
    }
}

/*---------모바일 765~1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    main {
        width: 100%;
    }

    /*슬라이더*/
    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-container .imgs {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .swiper-container .imgs figure {
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        position: relative;
    }

    .swiper-container .imgs figure a {
        width: 100%;
        height: 100%;
        margin: 0;
        flex: 0 0 auto;
    }

    .swiper-container .imgs figure a img {
        width: 100%;
        height: 100%;
    }

    /*prev,next btn*/
    .imgs .slick-prev,
    .imgs .slick-next {
        font-size: 0;
        background: none;
        border: none;
        position: absolute;
        display: none;
    }

    /*인디*/
    .imgs .slick-dots {
        font-size: 0;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .imgs .slick-dots li {
        display: inline-block;
        margin: 0 3px;
    }

    .imgs .slick-dots li button {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.5);
        font-size: 0;
        border: none;
        padding: 0;
    }

    .imgs .slick-dots li.slick-active button {
        background: #ad74ce;
    }

    /*본문*/
    .cake {}

    .cake h2 {}

    .cake p {
        font-size: 20px;
    }

    main .list {}

    main .list a {}

    main .list a ul {}

    main .list a ul li {}

    main .list a ul li:nth-child(1n+13) {
        display: none;
    }


    .list ul li figure {
        width: 100%;
        height: auto;
    }

    .list ul li figure img {
        width: 100%;
        height: 25vw;
    }

    .list ul li figure figcaption {}

    .service {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .service h2 {}

    .service p {
        font-size: 20px;
    }

    .service .s_2 {
        width: 90%;
        margin: 0 auto;
    }

    .service .s_2 a {
        margin: 0;
    }

    .service .s_2 a img {
        width: 70%;
    }

    .service .s_2 a p {
        font-size: 14px;
    }

    .best {
        width: 100%;
    }

    .best h2 {}

    .best > p {
        font-size: 20px;
    }

    .best > img {
        width: 6%;
        position: absolute;
        top: 0.5%;
        left: 55%;

    }

    .best a {
        display: block;
        margin: 0 auto;
        margin: 3% 0;
    } 

    .best .b-1 {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .best .b-1 .b-2 {
        width: 90%;
    }
    .best .b-1 .b-2 .b-3 p {
        width: 60%; height: auto;
       font-size: 20px;
        background-size: 20%;
    }

    .best .b-1 .b-2 > p {
        display: none;
    }

    .best .b-1 .b-2 .b-3 img {
        width: 100%;
    }

    .h_f p {
        font-size: 14px;
    }
}
