@import url('common-hn.css');

header {
    height: 100%;
    background-color: white;

}

.hailli {
    width: 100%;
    margin: 0 auto;
    padding: 10% auto;
    overflow: hidden;

}

.hailli h1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #333333;
    padding: 2.5%;
}

.gnb {
    float: right;
    display: inline-block;
    padding: 0 40px;
    font-size: 15px;

}

.gnb a {
    width: 1080px;
    padding: 0 30px;
    color: #333333;
}

.gnb a:hover {
    text-decoration-line: underline;
}

.hailli nav {
    width: 100%;
    background: #333333;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3;
    font-size: 20px;
    word-spacing: 200px;
}

.hailli nav a {
    color: white;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.hailli nav a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -5px;
}

.hailli nav a:hover {
    color: white;
}

.hailli nav a:hover:after {
    width: 100%;
}

/**********버거**********/
.menu-trigger {
    width: 20px;
    height: 20px;
    position: fixed;
    transition: .5s;
    right: 5vw;
    top: 5vw;
    display: none;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ad74ce;
}

.menu-trigger .active span {
    background: lightskyblue;
}

.munu-trigger .active {
    transform: rotate(90deg);
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0%;
}


/**********배너**********/
.slide {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.slide .imgs {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide .imgs figure {
    position: relative;
    margin: 0;
    height: 100%;
    left: 0;
    transition: .5s;
}

.slide .imgs figure img {
    width: 100%;
    height: 100%;
    margin-right: 50%;
    position: absolute;
}


.slide .imgs img:nth-of-type(1) {
    left: 0%;
}

.slide .imgs img:nth-of-type(2) {
    left: 100%;
}

.slide:hover .imgs figure {
    left: -100%;
}

.slide .indi {
    text-align: center;
    position: absolute;

    bottom: 0;
    width: 100%;
}

.slide .indi a {
    width: 16px;
    height: 16px;
    border: 1px solid #666666;
    border-radius: 100%;
    display: inline-block;
    /*세로로 나오게 하고싶으면 그냥 block*/
}

.slide .indi a:nth-of-type(1) {}

.slide .indi a:nth-of-type(2) {}

.slide .indi a:hover,
.slide .indi a.active:hover {
    background: #666666;
}

/**********케이크갤러리**********/
.cake {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cake h2 {
    font-size: 33px;
    line-height: 2;
}

.cake p {
    font-size: 22px;
}

.cake:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    margin: 2% auto;
}

.list {
    width: 100%;
    position: relative;
    margin: 0% auto;
}

.list ul li {}

.list ul li figure {}

.list ul li figure img {
    width: 100%;
    height: 16vw;
}

.list ul li figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    opacity: 0;
}

.list ul li figure figcaption:hover {
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.7;
}

/**********서비스**********/
.service {
    width: 100%;
    background-color: #ededed;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding: 3%;
}

.service h2 {
    font-size: 33px;
    line-height: 2;
}

.service > p {
    font-size: 22px;
}

.service > p:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    display: flex;
    margin: 30px auto;
}

.s_2 {}

.s_2 > a {
    display: inline-block;
    font-size: 15px;
    color: black;
    margin: 1% 3%;
}

.s_2 a img {}

.s_2 > a > p {
    line-height: 5;

}

.s_2 a img:nth-of-type(1) {}

.s_2 a img:nth-of-type(2) {}

.s_2 a img:nth-of-type(3) {
    margin-right: 0;
}


/**********베스트후기**********/
.best {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #fcfbe3;
    margin-bottom: 5%;
    padding: 3%;
}

.best h2 {
    font-size: 33px;
    line-height: 2;
}

.best > p {
    font-size: 22px;
}

.best > p:after {
    content: '';
    border: 1px solid #333333;
    width: 30px;
    display: flex;
    margin: 30px auto;
}

.best > a {
    font-size: 25px;
    line-height: 1.5;
    text-decoration-line: underline;
}

.b-1 {
    width: 100%;
    margin: 0 auto;
}

.b-2 {
    width: 80%;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 65px;
    100px;
    box-shadow: 0 3px 10px 0;
}

.b-2:nth-of-type(1) {}

.b-2:nth-of-type(2) {}

.b-2:nth-of-type(3) {}

.b-2 > p {
    font-size: 14px;
    line-height: 2;
    text-align: left;
    padding: 30px;
    white-space: pre-line;
    color: #333333;
}

.b-2 p a {
    font-size: 14px;
    text-decoration-line: underline;
}

.b-3 {
    position: relative;
}

.b-3 img {
    width: 100%;
    /*        object-fit: contain;*/
}

.b-2 .b-3 {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.b-2 .b-3 > p {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 2;
    text-indent: 30px;
    background: url(../img/119.png)no-repeat 20px #ff6565;
    width: 190px;
    height: 50px;
    border-radius: 100px;
}

/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}



/*---------모바일 480----------*/


@media (max-width:480px) {
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .hailli {}

    header .hailli .gnb {
        float: left;
        padding: 10px;
        font-size: 10px;
    }

    header .hailli .gnb a {
        padding: 0 10px;
    }

    header .hailli h1 {}

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        display: flex;
        align-items: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
    }

    header nav.active {
        transform: translateX(0%);
    }

    header .hailli nav {
        width: 30%;

        display: block;
        text-align: center
    }

    header .hailli nav a {
        top: 10%;

        font-size: 12px;
        color: #fff;
        display: block;
    }

    .menu-trigger {
        display: block;
        z-index: 2;
    }

    main {
        width: 100%;
    }

    .slide {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .slide .imgs {
        
        width: 100%;
        height: 100vw;

        overflow: hidden;

    }

    .slide .imgs figure {
        position: relative;
    }



    .slide .imgs figure img {}

    .slide .indi {
        display: none;
    }

    main .list {}

    main .list a {}

    main .list a ul {}

    main .list a ul li {}

    main .list a ul li:nth-child(1n+5) {
        display: none;
    }

    .list ul li figure {
        width: 100%;
        height: auto;
    }

    .list ul li figure img {
        width: 100%;
        height: 40vw;
    }

    .list ul li figure figcaption {}

    .best {
        width: 100%;
    }

    .best .b-1 {
        width: 100%;
        margin: 0 auto;
        margin-left: -10%;
    }

    .best .b-1 .b-2 p {
        font-size: 14px;
    }

    .best .b-1 .b-2 .b-3 p {
        width: 120px;
        height: 30px;
        background: url(../img/119-2.png) no-repeat 5px #ff6565;
    }

    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}
