@import url(common-hn.css);

/*=====main=====*/
main {
    margin: 0 auto;
    width: 100%;
    height: 700px;
}

.login {
    position: relative;
    background: url(../img/img_cafe.jpg)0 no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 50px 0;
}

.form h1 {
    margin-bottom: 35px;
}

.inp {}

.inp p {}

.inp p input {
    outline-style: none;
    width: 60%;
    padding: 15px 20px;
    border: none;
    border-bottom: 2px solid #444;
    border-radius: 10px;
    font-size: 15px;
}

.inp p:nth-of-type(2) input {
    margin: 10px;
}

.inp p:nth-of-type(3) input {
    background: #ad74ce;
    color: white;
    width: 60%;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    border: none;
}

.inp p:nth-of-type(3) input:hover {
    background: #8953A8;
}

.find {
    display: flex;
    justify-content: center;
    align-content: center;
}

.find a {
    margin: 10px;
    font-size: 12px;
}

.find a:hover {
    font-weight: bold;
    color: #333;
}

.find a:nth-of-type(3) {
    color: #ad74ce;
    font-weight: bold;
}

.find a:nth-of-type(3):hover {
    color: #8953A8;
}

/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}

/*---------모바일 480----------*/


@media (max-width:480px) {
    

    main {
        width: 100%;
    }

    .form {
        width: 90%;
    }

    .form h1 {
        font-size: 30px;
        margin-bottom: 10%;
    }

    .inp p input {
        width: 70%;
        padding: 15px;
        font-size: 15px;
    }

    .inp p:nth-of-type(2) input {
        margin: 10px;
    }

    .inp p:nth-of-type(3) input {
        width: 50%;
        margin-top: 5px;
        font-size: 14px;
    }

    .inp p:nth-of-type(3) input:hover {
        background: #8953A8;
    }

    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}


/*---------모바일 765 ~ 1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    main {
        width: 100%;
    }

    .form {
        width: 90%;
    }

    .form h1 {
        font-size: 30px;
        margin-bottom: 7%;
    }

    .inp p input {
        width: 50%;
        padding: 15px;
        font-size: 15px;
    }

    .inp p:nth-of-type(2) input {
        margin: 10px;
    }

    .inp p:nth-of-type(3) input {
        width: 50%;
        margin-top: 2%;
        font-size: 14px;
    }

    .inp p:nth-of-type(3) input:hover {
        background: #8953A8;
    }
    .find a{
        font-size: 15px;
    }


    /*모바일 하단*/
    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}

}
