@import url('common-hn.css');
body {
    position: relative;
}

main {
    margin: 0 auto;
    width: 70%;
}

.member {
    display: flex;
}

.menu {
    background: #ededed;
    padding: 50px 0px;
    text-align: right;
    width: 20%;
    min-height: 66vh;
}

.menu h1 {
    font-size: 20px;
    margin-bottom: 40px;
    padding-right: 10px;
}

.menu ul {}

.menu ul li {}

.menu ul li a {
    display: block;
    font-size: 16px;
    padding: 15px 10px;
    position: relative;
    color: #666;
    transition: .7s;
}

.menu ul li a.active {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
}

.menu ul li:hover a {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
}

/*회원정보*/
.info {
    text-align: center;
    width: 80%;
    margin: 40px auto;
    padding: 0 50px;
}

.info h2 {
    font-size: 40px;
    margin-bottom: 35px;
    text-align: center;
}

.info form {}

.edit {
    margin: 0 auto;
}

.edit ul {}

.edit ul li {
    font-size: 23px;
    padding: 7px 0;
}

.edit ul li span {
    text-align: start;
    width: 70%;
    display: inline-block;
}

.edit ul li input {
    width: 70%;
    outline-style: none;
    border: none;
    border-bottom: 1px solid #444;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 10px;
}

/* 인증버튼 */
.edit ul li:nth-of-type(7) input {
    width: 50%;
}

.edit ul li:nth-of-type(7) input:nth-of-type(2) {
    width: 20%;
    background: #666;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    padding: 15px 20px;
}

.edit ul li:nth-of-type(7) input:nth-of-type(2):hover {
    background: #444;
}

/*취소, 저장버튼*/
.info a {
    display: inline-block;
    background: #ad74ce;
    color: #fff;
    padding: 8px 60px;
    border-radius: 10px;
    transition: .5s;
    margin-top: 40px;
}

.info a:hover {
    background: #8953a8;
}


/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}

@media (max-width:992px) {
    .menu {
        background: #ededed;
        padding: 50px 0px;
        text-align: right;
        width: 25%;
        margin-left: 0%;
    }
}

@media (min-width:992px) and (max-width:1178px) {
    .menu {
        background: #ededed;
        padding: 50px 0px;
        text-align: right;
        width: 25%;
        margin-left: 0%;
    }
}

/*---------모바일 480----------*/


@media (max-width:480px) {
    main {
        width: 100%;
    }

    .member {
        width: 100%;
        display: flex;
        height: 100%;
    }

    .menu {
        background: #ededed;
        padding: 50px 0px;
        text-align: right;
    }

    .menu h1 {
        font-size: 16px;
        margin-bottom: 40px;
        padding-right: 10px;
    }

    .menu ul {}

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 12px;
        padding: 15px 10px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
    }

    .info {
        
        padding: 0 ;
    }

    .info h2 {
        font-size:25px;
    }

    .edit ul li {
        font-size: 16px;
    }

    .edit ul li span {
        text-align: start;
        width: 80%;
        display: inline-block;
    }

    .edit ul li input {
        width: 80%;
        font-size: 13px;
    }

    /* 인증버튼 */
    .edit ul li:nth-of-type(7) input {
        width: 60%;
    }

    .edit ul li:nth-of-type(7) input:nth-of-type(2) {
        width: 20%;
    }

    .edit ul li:nth-of-type(7) input:nth-of-type(2):hover {
        background: #444;
    }

    /*취소, 저장버튼*/
    .info a {
        width: 30%;
        font-size: 12px;
        padding: 10px;
    }

    .info a:hover {
        background: #8953a8;
    }

    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}

/*---------모바일 765 ~ 1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    main{
        width: 100%;
    }

    .member {
        width: 100%;
        display: flex;
        height: 100%;
    }

    .menu {
        background: #ededed;
        padding: 50px 0px;
        text-align: right;
       
    }

    .menu h1 {
        font-size: 20px;
        margin-bottom: 40px;
        padding-right: 10px;
    }

    .menu ul {}

    .menu ul li {}

    .menu ul li a {
        display: block;
        font-size: 14px;
        padding: 15px 10px;
        position: relative;
        color: #666;
        transition: .7s;
    }

    .menu ul li a.active {
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
    }

    .menu ul li:hover a {
        opacity: 1;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
        width: 100%;
    }

    .info {
       
        padding: 0;
    }

    .info h2 {
        font-size: 30px;
    }

    .edit ul li {
        font-size: 20px;
        padding: 7px 0;
    }

    .edit ul li span {
        width: 80%;
    }

    .edit ul li input {
        width: 80%;
    }

    /* 인증버튼 */
    .edit ul li:nth-of-type(7) input {
        width: 60%;
    }

    .edit ul li:nth-of-type(7) input:nth-of-type(2) {
        width: 20%;
        background: #666;
        color: #fff;
        cursor: pointer;
        transition: .5s;
        padding: 15px 20px;
    }

    .edit ul li:nth-of-type(7) input:nth-of-type(2):hover {
        background: #444;
    }


    /*취소, 저장버튼*/
    .info a {
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }

    .info a:hover {
        background: #8953a8;
    }



    /*모바일 하단*/
    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}

}
