@import url('common-hn.css');

header {
    height: 100%;
    background-color: white;

}

.hailli {
    width: 100%;
    margin: 0 auto;
    padding: 10% auto;
    overflow: hidden;
}

.hailli h1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #333333;
    padding: 2.5%;
}

.gnb {
    float: right;
    display: inline-block;
    padding: 0 40px;
    font-size: 15px;

}

.gnb a {
    width: 1080px;
    padding: 0 30px;
    color: #333333;
}

.gnb a:hover {
    text-decoration-line: underline;
}

.hailli nav {
    width: 100%;
    background: #333333;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3;
    font-size: 20px;
    word-spacing: 200px;
}

.hailli nav a {
    color: white;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.hailli nav a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: -5px;
}

.hailli nav a:hover {
    color: white;
}

.hailli nav a:hover:after {
    width: 100%;
}

/**********버거**********/
.menu-trigger {
    width: 20px;
    height: 20px;
    position: fixed;
    transition: .5s;
    right: 5vw;
    top: 5vw;
    display: none;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ad74ce;
}

.menu-trigger .active span {
    background: lightskyblue;
}

.munu-trigger .active {
    transform: rotate(90deg);
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0%;
}


/**********배너**********/
.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #333333;
}

.banner img {
    width: 100%;
}


/**********공지리스트**********/
.notice {
    width: 1080px;
    margin: 0 auto;
}

.table {
    width: 100%;
    padding: 60px 0;
}

.table hr {
    margin: 5px auto;
}

.table table {
    width: 100%;
}

.table thead {
    width: 100%;
    text-align: center;
    background-color: #ededed;
    border-radius: 10px;

    font-size: 15px;
    color: #333333;
    line-height: 3;
}

.table tbody {
    width: 100%;
    font-size: 15px;
}

.table tbody tr {
    text-align: center;
    font-size: 15px;
}

.table tbody tr:nth-of-type(1) {
    line-height: 3;
    border-bottom: 1px solid #ededed;
}

.table tbody tr:nth-of-type(2) {
    line-height: 3;
    border-bottom: 1px solid #ededed;
}

.table tbody tr:nth-of-type(3) {
    line-height: 3;
}


.table body tr th {}

.table tbody tr th:nth-of-type(1) {
    text-align: center;
}

.table tbody tr th:nth-of-type(2) {
    text-align: left;
}

.table tbody tr th:nth-of-type(3) {
    text-align: center;
}

.table tbody tr th:nth-of-type(4) {
    text-align: center;
}

.table tbody tr th:nth-of-type(5) {
    text-align: center;
}

/**********글쓰기 버튼**********/
.button {
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    overflow: hidden;
}

.button a {
    float: right;
    margin-bottom: 20%;

    border: 1px;
    border-radius: 10px;
    width: 100px;
    background-color: #ad74ce;
    color: #fcfbe3;
    font-size: 15px;
    line-height: 2;
}


/**********페이지 버튼**********/
/*
.paging{
    text-align: center;
    margin: 3% 0;
}
.paging a{
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    padding: 1%;
}

.paging a:hover:after,
.paging a.active:after{
    content: '';
    border: 1px solid #777777;
    width: 100%;
    display: block;
    color: red;
}
*/


/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}


/*---------모바일 480----------*/


@media (max-width:480px) {
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .hailli {}

    header .hailli .gnb {
        float: left;
        padding: 10px;
        font-size: 10px;
    }

    header .hailli .gnb a {
        padding: 0 10px;
    }

    header .hailli h1 {
        font-size: 2em;
        clear: both;
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        display: flex;
        align-items: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
    }

    header nav.active {
        transform: translateX(0%);
    }

    header .hailli nav {
        width: 30%;

        display: block;
        text-align: center
    }

    header .hailli nav a {
        top: 10%;

        font-size: 12px;
        color: #fff;
        display: block;
    }

    .menu-trigger {
        display: block;
        z-index: 2;
    }

    slide {
        width: 100%;
    }

    .banner {

        background: url(../img/116.jpg) no-repeat 20% 50%;
        background-size: cover;
        width: 100%;
        height: 20vw;
        /*
        width: 50%;
        height: 50%;
        position: relative;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
*/
    }

    .banner h2 {
        font-size: 20px;
        /*
        position: absolute;
        left: 0; top: 0;
        transform: translate(-50%, -50%);
        color: #333333;
*/
    }

    .banner img {
        display: none;
    }

    main {}

    .notice {
        width: auto;
    }

    .table {
        width: 100%;
    }

    .button {
        width:100%;
        height: 20vw;
    }
    .button a{
        font-size: 10px;
    }

    .table table thead td {
        font-size: 10px;
    }

    .table table thead td:nth-of-type(1) {
        width: 10%;
    }

    .table table thead td:nth-of-type(3) {
        width: 10%;
    }

    .table table thead td:nth-of-type(4) {
        width: 20%;
    }

    .table table thead td:nth-of-type(5) {
        width: 10%;
    }

    .table table tbody th {
        font-size: 10px;
    }
    .h_f p{font-size: 14px;}
}
