@import url('common-hn.css');

main {
    margin: 0 auto;
    width: 100%;
    height: 700px;
}

.password_find {
    position: relative;
    background: url(../img/img_cafe.jpg)0 no-repeat;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.password_find > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 50px 0;
}

.password_find > div h1 {
    margin-bottom: 35px;
}

.sel {
    margin: 0 auto;
    width: 60%;
}

.sel a {
    display: inline-block;
    font-size: 15px;
    background: #ededed;
    padding: 10px;
    margin-bottom: 15px;
}

.sel a:nth-of-type(1) {
    width: 50%;
    border-radius: 10px 0 0 10px;
}

.sel a:nth-of-type(2) {
    width: 50%;
    margin-left: 20p;
    border-radius: 0 10px 10px 0;
}

.sel a.active {
    background: #666;
    color: #fff;
}

.result {}

.result p {
    font-size: 15px;
    color: #666;
    margin: 30px 0;
}

.result strong {
    display: block;
    margin: 30px 0;
    color: #333;
}

.result input {
    outline-style: none;
    width: 60%;
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

.result input:nth-of-type(3) {
    width: 60%;
    padding: 15px 20px;
    background: #ad74ce;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    transition: .5s;
    margin-top: 5px;
    cursor: pointer;
}

.result input:nth-of-type(3):hover {
    background: #8953A8;
}


/*---------모바일 480----------*/


@media (max-width:480px) {
    main {
        width: 100%;
    }

    .password_find {}

    .password_find > div {
        width: 90%;
    }

    .password_find > div h1 {
        font-size: 20px;
    }

    .sel {
        margin: 0 auto;
        width: 80%;
    }

    .sel a {
        display: inline-block;
        font-size: 13px;
        background: #ededed;
        padding: 5%;
        margin-bottom: 15px;
    }

    .sel a:nth-of-type(1) {
        width: 50%;
        border-radius: 10px 0 0 10px;
    }

    .sel a:nth-of-type(2) {
        width: 50%;
        margin-left: 0px;
        border-radius: 0 10px 10px 0;
    }

    .sel a.active {
        background: #666;
        color: #fff;
    }

    .result {}


    .result {}

    .result p {
        text-align: center;
        font-size: 15px;
    }

    .result input {
        outline-style: none;
        width: 60%;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .result input:nth-of-type(3) {
        width: 60%;
        padding: 15px;
        font-size: 13px;
    }

    .result input:nth-of-type(3):hover {
        background: #8953A8;
    }

    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}


/*---------모바일 765 ~ 1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    main {
        width: 100%;
    }


    .password_find {}

    .password_find > div {
        width: 90%;
    }

    .password_find > div h1 {
        font-size: 30px;
        margin-bottom: 7%;
    }

    .sel {
        margin: 0 auto;
        width: 50%;
    }

    .sel a {
        display: inline-block;
        font-size: 15px;
        background: #ededed;
        padding: 3%;
        margin-bottom: 15px;
    }

    .sel a:nth-of-type(1) {
        width: 50%;
        border-radius: 10px 0 0 10px;
    }

    .sel a:nth-of-type(2) {
        width: 50%;
        margin-left: 0px;
        border-radius: 0 10px 10px 0;
    }

    .sel a.active {
        background: #666;
        color: #fff;
    }

    .result {}


    .result {}

    .result p {
        text-align: center;
        font-size: 16px;
    }

    .result input {
        outline-style: none;
        width: 50%;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .result input:nth-of-type(3) {
        width: 50%;
        padding: 15px;

        font-size: 14px;
    }

    .result input:nth-of-type(3):hover {
        background: #8953A8;
    }


    /*모바일 하단*/
    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}

}
