@import url('common-hn.css');

.all {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.all > .all-m {}

.all-m {
    border-radius: 10px;
    background-color: #ffffff;
    width: 350px;
    padding: 20px;

    text-align: center;
    line-height: 2;
}

.all-m > p {
    font-size: 18px;
    padding: 10px;
}

.all-m > hr {
    width: 300px;
}

.all-m > a {
    font-size: 15px;
}

/**********배너**********/
.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #333333;
}

.banner img {
    width: 100%;
}

.banner img:nth-of-type(1) {
    width: 100%;
}

.banner img:nth-of-type(2) {
    width: 1.5%;
    position: absolute;
    top: 39%;
    left: 52.8%;
}

/**********본문 예약하기**********/
.re {
    width: 1080px;
    height: 700px;
    margin: 0 auto;

    /* overflow: hidden; */
}
.re > p{
    margin:0 auto;
    text-align: center;
}
.re > p > img{
    margin-top: 3%;
}

.tab {
    margin-top: 30px;
    float: left;
    width: 50%;
}

.tab-body {
    width: 100%;
    height: 100%;
}


.tab-body > p {
    width: 500px;
    height: 500px;
/*
    border: 5px solid black;
    background: #fff;
*/
}

.tab-body > p > img {
    width: 100%;
    height: 100%; 
}

.tab-body > figure {
    width: 100%;
}

.tab-body > figure > img {
    padding: 3px 0;
    width: 18%; height: 100px;
}

/*예약선택*/
table {
    width: 50%;
    color: #333333;
    font-size: 15px;

    float: right;
    margin-top: 20px;
}

tbody {}

tbody tr {}

tbody tr th {
    text-align: right;
    line-height: 1;
}

tbody tr td {
    padding: 10px;
}

tbody tr td input {
    text-align: center;
    background: #ededed;
    border: none;
    border-radius: 10px;
}

tbody tr td select {
    width: 150px;
    padding: 8px;
    background: #ededed;
    border-radius: 10px;
    border: none;
}

tbody tr td textarea {
    width: auto;
    padding: 5px;
    background: #ededed;
    border-radius: 10px;
    border: none;

}

tbody tr:nth-of-type(1) {}

tbody tr:nth-of-type(2) {}

tbody tr:nth-of-type(3) {}

tbody tr:nth-of-type(4) {}

tbody tr:nth-of-type(5) {}

tbody tr:nth-of-type(6) {}

tbody tr:nth-of-type(7) th small {
    float: none;
    font-size: 10px;
}

tbody tr:nth-of-type(8) {}

tbody tr th {
    width: 120px;
}

/*금액*/ 
tfoot {  
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

tfoot tr {
    width: 80%;
    text-align: center;
}

tfoot tr th {
    text-align: right;
}

tfoot tr td {
    width: 20%;
    text-align: center;
}
tfoot tr td input{
    width: 20%;
}

tfoot tr:nth-of-type(1) {}

tfoot tr:nth-of-type(2) {}

tfoot tr:nth-of-type(3) {
    font-size: 20px;
}
tfoot tr td input{
    border: none;
}

/**********버튼**********/
.but {
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.button {
    float: right;

    text-align: center;
    justify-content: center;
    align-content: center;



}

.button a {
    width: 257px;
    height: 50px;
    display: inline-block;
    margin: 20px 5px;
    padding: 1.5% 0;
    text-decoration: none;
    transition: .5s;
}

.but .button a:nth-of-type(1):hover {
    background: #999999;
}

.but .button a:nth-of-type(2):hover {
    background: #8953A8;
}


/*장바구니*/
.button a:nth-of-type(1) {
    font-size: 15px;
    color: #333333;
    line-height: 2;

    border: 1px solid #ededed;
    background: #ededed;
    border-radius: 10px;

}

/*예약하기*/
.button a:nth-of-type(2) {

    font-size: 15px;
    color: #fcfbe3;
    line-height: 2;

    border: 1px solid #ad74ce;
    background: #ad74ce;
    border-radius: 10px;
}

/**********상세설명**********/
.list {
    width: 1080px;
    margin: 0 auto;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.list .header {
    background: #fcfbe3;
    border-radius: 10px;
}

.list .header p {
    color: #333333;
    font-size: 20px;
    padding: 12px 0;
}


.list img {
    width: 100%;
    margin: 0 auto;
}

.list img:nth-of-type(1) {
    width: 20%;
    margin: 5% auto;
}

.list img:nth-of-type(2) {
    width: 100%;
    margin: 5% auto;
}

/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
    position: relative;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}

.h_f > div > p > a > img {
    position: absolute;
    margin-top: 0%;
    left: -50%;
    bottom: 0%;
}

/*---------모바일 480----------*/


@media (max-width:480px) {

    .all {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .all > .all-m {}

    .all-m {
        border-radius: 10px;
        background-color: #ffffff;
        width: 180px;
        padding: 5px;

    }

    .all-m > p {
        font-size: 15px;
    }

    .all-m > hr {
        width: 150px;
        margin: 0 auto;
    }

    .all-m > a {
        font-size: 15px;
    }

    main {
        width: 100%;
    }

    .re {
        height: auto;
        width: 100%;
        overflow: none;
    }

    .re .tab {
        float: none;
        width: 100%;
        margin: 10px 0;
    }

    .tab-body {
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }

    .tab-body > p {
        width: 100%;
        height: 100%;
    }

    .tab-body > p > img {
        width: 100%;
        height: 100%;
    }

    .tab-body > figure {
        margin: 0 auto;
        width: 100%;
    }

    .tab-body > figure > img {
        width: 19%;
        height: 70px;
    }

    table {
        float: none;
        width: auto;
    }

    table tbody {
        width: 100%;
    }

    tbody tr {
        width: 100%;
        font-size: 11px;

    }

    tbody tr th {
        text-align: center;
    }

    tbody tr td {
        text-align: start;
    }

    table tbody tr:nth-of-type(1) {}

    table tbody tr:nth-of-type(1) th {
        width: 20%;
    }

    table tbody tr:nth-of-type(1) td {
        width: 80%;
    }

    table tfoot {
        width: 100%;
    }

    table tfoot tr {
        font-size: 13px;
    }

    table tfoot tr:nth-of-type(3) {
        font-size: 15px;
    }


    .but {
        width: auto;
    }

    .button {
        width: 100%;
        height: 50vw;
    }

    .but .button a {
        width: 30%;
        height: 25%;
        font-size: 15px;
    }

    .list {
        width: auto;
    }

    .list .header p {
        font-size: 15px;
        width: 100%;
    }

    .list img {
        width: 100%;
        margin: 0 auto;
    }

    .list img:nth-of-type(1) {
        width: 20%;
        margin: 5% auto;
    }

    .list img:nth-of-type(2) {
        width: 100%;
        margin: 5% auto;
    }


    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}
/*---------모바일 765 ~ 1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    .all {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .all > .all-m {}

    .all-m {
        border-radius: 10px;
        background-color: #ffffff;
        width: 50%;
        padding: 5%;

    }

    .all-m > p {
        font-size: 20px;
    }

    .all-m > hr {
        width: 90%;
        margin: 0 auto;
    }

    .all-m > a {
        font-size: 18px;
    }

   main {
        width: 100%;
    }

    .re {
        height: auto;
        width: 100%;
        overflow: none;

    }

    .tab {
        float: none;
        width: 100%;
        margin: 20px 0;
    }

    .tab-body {
        margin: 0 auto;
        width: 95%;
        height: 100%;
    }

    .tab-body > p {
        width: 100%;
        height: 100%;
    }

    .tab-body > p > img {
        width: 100%;
        height: 100%;
    }

    .tab-body > figure {
        margin: 0 auto;
        width: 100%;
    }

    .tab-body > figure > img {
        width: 19.6%;
        height: 150px;
    }

    table {
        float: none;
        width: 100%;
    }

    table tbody {
        width: 100%;
    }

    tbody tr {
        width: 100%;
        font-size: 18px;

    }

    tbody tr th {
        text-align: right;
    }

    tbody tr td {
        text-align: left;
    }

    table tbody tr:nth-of-type(1) {}

    table tbody tr:nth-of-type(1) th {
        width: 40%;
    }

    table tbody tr:nth-of-type(1) td {
        width: 60%;
    }

    table tfoot {
        width: 100%;
        margin: 0 auto;
    }

    table tfoot tr {
        font-size: 16px;
        margin: 0 auto;
    }

    table tfoot tr th {
        text-align: right;
    }

    table tfoot tr td {
        text-align: center;
    }

    table tfoot tr:nth-of-type(1) {}

    table tfoot tr:nth-of-type(2) {}

    table tfoot tr:nth-of-type(3) {
        font-size: 18px;
    }

    .but {
        width: auto;
    }

    .button {
        width: 100%;
        height: 20vw;
    }

    .but .button a {
        width: 30%;
        height: auto;
        font-size: 16px;
    }

    .list {
        width: auto;
    }

    .list .header p {
        width: 100%;
    }

    .list img {
        width: 100%;
        margin: 0 auto;
    }

    .list img:nth-of-type(1) {
        width: 20%;
        margin: 5% auto;
    }

    .list img:nth-of-type(2) {
        width: 100%;
        margin: 5% auto;
    }
    
    /*모바일 하단*/
    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}
}
