@import url('common-hn.css');

header {
    height: 100%;
    background-color: white;

}

.hailli {
    width: 100%;
    margin: 0 auto;
    padding: 10% auto;
    overflow: hidden;
}

.hailli h1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    letter-spacing: 3px;
    color: #333333;
    padding: 2.5%;
}

.gnb {
    float: right;
    display: inline-block;
    padding: 0 40px;
    font-size: 15px;

}

.gnb a {
    width: 1080px;
    padding: 0 30px;
    color: #333333;
}

.gnb a.active {
    background: #ad74ce;
    text-decoration-line: underline;
}

.hailli nav {
    width: 100%;
    background: #333;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3;
    font-size: 20px;
    word-spacing: 200px;
}

.hailli nav a {
    color: white;
}

.hailli nav a.active {
    background: #ad74ce;
    text-decoration: underline;
}

/**********버거**********/
.menu-trigger {
    width: 20px;
    height: 20px;
    position: fixed;
    transition: .5s;
    right: 5vw;
    top: 5vw;
    display: none;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ad74ce;
}

.menu-trigger.active span {
    background-color: white;
}

.munu-trigger.active {
    transform: rotate(90deg);
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 45%;
    left: 50%;
    transform: translate(-50%);
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0%;
}

/**********배너**********/
.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    color: #333333;
}

.banner img {
    width: 100%;
}

.banner img:nth-of-type(1) {
    width: 100%;
}

.banner img:nth-of-type(2) {
    width: 1.5%;
    position: absolute;
    top: 39%;
    left: 52.8%;
}

/**********본문 일반후기**********/
.normal {
    width: 1080px;
    margin: 0 auto;
}

.list2 {}

.list2 h2 {
    line-height: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.list2 ul {}

.list2 ul li {}

.list2 ul li figure {
    overflow: hidden;
    margin-bottom: 15%;
    padding: 5%;
    padding-bottom: 0;
}

.list2 ul li figure img {
    width: 100%;
    height: 13vw;
}

.list2 ul li figure span {
    margin: 0 3%;
}

.list2 ul li figure span:nth-of-type(1) {}

.list2 ul li figure span:nth-of-type(2) {
    float: right;
}

.list2 ul li figure img:hover {
    filter: brightness(110%);
}

/**********글쓰기 버튼**********/
.button {
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    overflow: hidden;
}

.button a {
    float: right;

    border: 1px;
    border-radius: 10px;
    width: 100px;
    background-color: #ad74ce;
    color: #fcfbe3;
    font-size: 15px;
    line-height: 2;

    text-decoration: none;
    transition: .5s;
}

.button a:hover {
    background: #8953A8;
}

/**********페이지 버튼**********/
.paging {
    text-align: center;
    margin: 3% 0;
}

.paging a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    padding: 1%;
}

.paging a:hover:after,
.paging a.active:after {
    content: '';
    border: 1px solid #777777;
    width: 100%;
    display: block;
    color: red;
}


/**********풋터**********/
footer {
    width: 100%;
    padding: 1%;
    background-color: #333333;
}

.h_f {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.h_f p {
    white-space: pre-line;
    text-align: left;
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
}

.h_f div {
    padding: 20px 0;
    position: relative;
}

.h_f div a {}

.h_f div a:nth-of-type(1) {}

.h_f div a:nth-of-type(2) {}

.h_f > div > p > a > img {
    position: absolute;
    margin-top: 0%;
    left: -50%;
    bottom: 0%;
}

/*---------모바일 480----------*/


@media (max-width:480px) {
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .hailli {}

    header .hailli .gnb {
        float: left;
        padding: 10px;
        font-size: 10px;
    }

    header .hailli .gnb a {
        padding: 0 10px;
    }

    header .hailli .gnb a.active {
        background: #ad74ce;
        text-decoration-line: underline;
    }

    header .hailli h1 {
        font-size: 2em;
        clear: both;
    }

    header .haiili nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: rgb(105, 105, 105, 0.9);

        width: 20%;
        display: block;
        text-align: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
    }

    header .haiili nav.active {
        transform: translateX(0%);
    }

    header .hailli nav a {
        height: 10%;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .hailli nav a.active {
        background: #ad74ce;
        text-decoration: underline;
    }

    .menu-trigger {
        display: block;
        z-index: 2;

        width: 20px;
        height: 20px;
        position: fixed;
        transition: .5s;
        right: 5vw;
        top: 5vw;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #ad74ce;
    }

    .slide {
        width: 100%;
    }

    .banner {

        background: url(../img/116.jpg) no-repeat 20% 50%;
        background-size: cover;
        width: 100%;
        height: 20vw;
        /*
        width: 50%;
        height: 50%;
        position: relative;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
*/
    }

    .banner h2 {
        font-size: 20px;

        position: relative;
        /*      left: 0; top: 0;
        transform: translate(-50%, -50%);
        color: #333333;
*/
    }

    .banner img {}

    .banner img:nth-of-type(1) {
        width: 100%;
        display: none;
    }

    .banner img:nth-of-type(2) {
        width: 5%;
        position: absolute;
        top: 35%;
        left: 60%;
    }

    main {
        width: 100%;
    }

    .normal {
        width: 100%;
    }

    .list2 {}

    .list2 h2 {
        width: 100%;
        font-size: 15px;
    }

    .list2 ul {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .list2 ul li {
        width: 48%;
    }

    .list2 ul li a {}

    .list2 ul li a figure {
        width: 100%;
        height: auto;
    }

    .list2 ul li a figure img {
        width: 100%;
        height: 40vw;
    }

    .button {
        width: 90%;
        height: 20vw;
    }

    .button a {
        width: 20%;
        font-size: 10px;
    }

    .h_f p {
        font-size: 14px;
    }
}



/*---------모바일 765 ~ 1080----------*/
@media (min-width:765px) and (max-width:1080px) {
    .all {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .all > .all-m {}

    .all-m {
        border-radius: 10px;
        background-color: #ffffff;
        width: 30%;
        padding: 1%;

    }

    .all-m > p {
        font-size: 16px;
    }

    .all-m > hr {
        width: 90%;
        margin: 0 auto;
    }

    .all-m > a {
        font-size: 14px;
    }

    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .hailli {}

    header .hailli .gnb {
        float: left;
        padding: 10px;
        font-size: 15px;
    }

    header .hailli .gnb a {
        padding: 0 10px;
    }

    header .hailli .gnb a.active {
        background: #ad74ce;
        text-decoration-line: underline;
    }

    header .hailli h1 {
        font-size: 3em;
        clear: both;
    }

    header .hailli nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: rgb(105, 105, 105, 0.9);

        width: 20%;
        display: block;
        text-align: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
    }

    header .hailli nav.active {
        transform: translateX(0%);
    }

    header .hailli nav a {
        height: 10%;
        font-size: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hailli nav a.active {
        background: #ad74ce;
        text-decoration: underline;
    }

    .menu-trigger {
        display: block;
        z-index: 2;

        width: 30px;
        height: 20px;
        position: fixed;
        transition: .5s;
        right: 5vw;
        top: 5vw;
    }

    .menu-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background: #ad74ce;
    }

    .slide {
        width: 100%;
    }

    .banner {
        background: url(../img/116.jpg) no-repeat 20% 50%;
        background-size: cover;
        width: 100%;
        height: 12vw;
    }

    .banner h2 {
        position: relative;
        /*      left: 0; top: 0;
        transform: translate(-50%, -50%);
        color: #333333;
*/
    }

    .banner img {}

    .banner img:nth-of-type(1) {
        width: 100%;
        display: none;
    }

    .banner img:nth-of-type(2) {
        width: 5%;
        position: absolute;
        top: 20%;
        left: 56%;
    }

    main {
        width: 100%;
    }


    .best {
        width: 80%;
    }

    .list {
        width: 100%;
        display: inline-block;
        align-items: center;
        margin: 0 auto;
    }

    .best .list h2 {
        width: 100%;
    }

    .list ul {}

    .list ul li {
        width: 100%;
        /*        justify-content: space-between;*/
        margin: 0 auto;
        /*        flex-wrap: wrap;*/
    }

    .list ul li figure {
        height: auto;
        opacity: 1;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .list ul li figure img {
        width: 80%;
        height: 60vw;

    }

    .list ul li a figure figcaption {
        color: black;
        position: static;
        width: 80%;
        opacity: 1;
        white-space: normal;
        background: none;
        font-size: 14px;
        padding: 3%;

        text-align: left;
    }

    .name {
        font-size: 12px;
        display: flex;
    }

    .name p:nth-of-type(1) {
        margin-left: 80%;
    }

    .name p:nth-of-type(2) {
        margin-left: 1%;
    }

    .list ul li a figure figcaption h3 {
        font-size: 20px;
        padding: 3%;

    }

    .normal {
        width: 100%;
    }

    .list2 {}

    .list2 h2 {
        width: 100%;
    }

    .list2 ul {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .list2 ul li {
        width: 48%;
    }

    .list2 ul li a {}

    .list2 ul li a figure {
        width: 100%;
        height: auto;

    }

    .list2 ul li figure span {
        font-size: 14px;
        margin: 0 3%;
    }

    .list2 ul li a figure img {
        width: 100%;
        height: 40vw;
    }

    .button {
        width: 90%;
        height: 20vw;
    }

    .button a {
        width: 20%;
        font-size: 16px;
    }

    /*모바일 하단*/
    .footer {}

    .h_f {}

    .h_f p {
        font-size: 14px;
    }

    .h_f div {}

}
