@import url('common-hn.css');

/*===================================*/
.banner {
    width: 100%;
    height: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner h2 {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #333333;
}

.banner img {
    width: 100%;
}

/*=========================================*/


main {
    padding-bottom: 100px;
}

main div:nth-of-type(2) {
    text-align: center;
    padding: 50px;
    width: 100%;
    margin: 0 auto;

}


/*==================================*/





.mmm {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
}

.mmm img {
    width: 50px;
    height: 50px;
}

.mmm th {
    font-size: 20px;
    text-align: left;
    padding-bottom: 20px;
}

.mmm td {
    font-size: 15px;
    padding: 10px;
}


.m2 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m2 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}

.m3 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m3 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}

/*=============================*/
.m1 {
    width: 20%;
    padding: 10px 0 0 20px;
}


.m2 {
    width: 40%;
    padding: 10px 0 0 20px;
    height: 100%;

}

.m3 {
    width: 40%;
    padding: 10px 0 0 20px;
    height: 100%;
}


/*---------모바일 480----------*/


@media (max-width:480px) {
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .hailli {}

    header .hailli .gnb {
        float: left;
        padding: 10px;
        font-size: 10px;
    }

    header .hailli .gnb a {
        padding: 0 10px;
    }

    header .hailli h1 {
        font-size: 2em;
        clear: both;
    }

    header nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);

        display: flex;
        align-items: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
    }

    header nav.active {
        transform: translateX(0%);
    }

    header .hailli nav {
        width: 30%;

        display: block;
        text-align: center
    }

    header .hailli nav a {
        top: 10%;

        font-size: 12px;
        color: #fff;
        display: block;
    }

    .menu-trigger {
        display: block;
        z-index: 2;
    }

    slide {
        width: 100%;
    }

    .banner {
        background: url(../img/116.jpg) no-repeat 20% 50%;
        background-size: cover;
        width: 100%;
        height: 20vw;
    }

    .banner h2 {
        font-size: 20px;
    }

    .banner img {
        display: none;
    }

    main {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        display: block;
    }
    main div:nth-of-type(2) {
        text-align: center;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }
    main div:nth-of-type(2) iframe{
        width: 100%;
        height: 100vw;
    }


    /*==================================*/

    .mmm {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
        white-space: pre-line;
        text-align: center;
    }
    .mmm img {
        margin-top: 5%;
    }

    .mmm th {
        font-size: 18px;
        text-align: center;
        padding-bottom: 20px;
    }

    .mmm td {
        font-size: 14px;
        padding: 10px;
    }


    .m2 tr td:nth-of-type(1) {
        position: relative;
        text-align: center;
    }

    .m2 tr td:nth-of-type(1):after {
        content: '';
        height: 20px;
        width: 2px;
        background: #333;
        position: absolute;
        right: 0;
        top: 30%;
    }

    .m3 tr td:nth-of-type(1) {
        position: relative;
        text-align: center;
    }

    .m3 tr td:nth-of-type(1):after {
        content: '';
        height: 20px;
        width: 2px;
        background: #333;
        position: absolute;
        right: 0;
        top: 30%;
    }

    /*=============================*/
    .m1 {
        text-align: center;
        width: 100%;
        padding: 0;
    }


    .m2 {
        text-align: center;
        width: 100%;
        padding: 0;
        height: 100%;

    }

    .m3 {
        text-align: center;
        width: 100%;
        padding: 0;
        height: 100%;
    }

    .h_f p {
        font-size: 14px;
    }
}
