@import url('common.css');

header{
    width: 90%; margin: 5px auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
header h1{}
    
header nav {
    margin-right: 100px;
}
header nav a{
    padding: 0 10px;
    display: inline-block;
    padding: 0 10px;
    position: relative;
}

header nav a:after{
    content: '';
    height: 2px;
    background-color: black;
/*    display: block;*/
    position: absolute;
    left: 50%; bottom: -3px;
    width: 0%;
    transition: .5s;
}

header nav a:hover:after{
    width: 10%;
    left: 0;
}

.menu-trigger{
    width: 40px; height: 30px;
    position: absolute;
    right: 0; top:calc(50% - 15px;)
/*    transform: translateY(-50%);*/
/*콘텐츠의 크기를 지정해서 조정가능(x축 y축)*/
}
.menu-trigger span{
    width:100%; height: 2px;
    background: #000;
    position: absolute;
    transition: .5s;
}
    
/*
햄버거메뉴 만들고 여백
    display: block;
    margin: 2px;
*/


.menu-trigger span:nth-of-type(1) {
    top: 0; left:0;
} 

.menu-trigger span:nth-of-type(2) {
    top: 50%; left:0;
    transform: translateY(-50%);
} 

.menu-trigger span:nth-of-type(3) {
    bottom: 0; left:0;
} 

/*menu hover*/
.menu-trigger:hover span:nth-of-type(1),
.menu-trigger.active span:nth-of-type(1){
    transform: translateY(14px) rotate(45deg);
} 

.menu-trigger:hover span:nth-of-type(2),
.menu-trigger.active span:nth-of-type(2){
   opacity: 0;
} 

.menu-trigger:hover span:nth-of-type(3),
.menu-trigger.active span:nth-of-type(3){
    transform: translateY(-14px) rotate(-45deg);
} 

/*html에 class가 css에서는 .을 의미 
명령을 주면 마무리는 ;으로*/

main{
    width:90%; margin: 0 auto;
}

main section{
    background: url('../img/img_spot_1-1.jpg') no-repeat; height: 900px;
    background-size: :cover; /*<- 둘다 화면을 꽉 채움 ->100% 100%*/
    display: flex;
    /*fles-가로길이가 콘텐츠만큼 조절되고 세로가 길어짐*/
    justify-content: center;
    /*center-자식요소를 중앙으로 보낸다. start & end 도 있음*/
    align-items: center;
    /*justify-content 명령과 비슷 인라인 요소처럼 박스크기가 콘텐츠 크기만큼만
    설정되고 위치 조절 가능.*/
}

main section p{
    color: black;
    white-space: pre-line;
    text-align: center;
}

main section p strong{
    font-size: 5em;
}


