@charset "UTF-8";

@import url("common.css");

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

header {
    .header {
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        width: 62.5%;
        height: 130px;
        text-align: center;
        justify-content: center;
        align-items: center;

        .logo {
            position: absolute;
            left: 0;
            top: 4px;

            a {
                img {
                    width: 119px;
                }
            }
        }

        nav {
            font-size: 17px;
            position: absolute;
            display: inline-block;
            top: 65%;
            left: 30%;
            word-spacing: 120px;

            a {
                color: #333;
                text-decoration-line: none;
            }
        }

        .gnb {
            float: right;
            font-size: 14px;
            text-align: left;

            a {
                padding-left: 7px;
                color: #333;
                text-decoration-line: none;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

body {
    .slide-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .slide {
            width: 100%;
            height: 600px;
            margin: 0 auto;
            overflow: hidden;

            figure {
                width: 100%;
                height: 100%;
                text-align: center;
                position: relative;
                left: 0;
                top: 0;
                transition: .5s;
                margin: 0;

                img {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    position: absolute;
                }

                img:nth-of-type(1) {
                    left: 0%;
                }

                img:nth-of-type(2) {
                    left: 100%;
                }
            }
        }

        .slide-button {
            position: absolute;
            left: 50%;
            top: 90%;

            .dot {
                text-align: center;
            }

            .dot:nth-of-type(1) {
                cursor: pointer;
                display: inline;
            }

            .dot:nth-of-type(2) {
                cursor: pointer;
                display: inline;
            }
        }
    }

    .slide-container:hover .slide figure {
        left: -100%;
    }

    .banner {
        width: 100%;

        figure {
            margin: 0;
            text-align: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                position: relative;
                margin-top: 15px;
            }

            .content {
                text-align: center;

                .content_1 {
                    color: #fff;
                    position: absolute;
                    left: 37%;
                    top: 81%;

                    p {
                        font-size: 48px;

                        strong {
                            font-size: 48px;
                        }
                    }

                    small {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }

                .content_2 {
                    color: #333;
                    position: absolute;
                    left: 37%;
                    top: 125%;

                    p {
                        font-size: 48px;

                        strong {
                            font-size: 48px;
                            line-height: 30px;
                        }
                    }

                    small {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }

                .content_3 {
                    position: absolute;
                    left: 37%;
                    top: 205%;
                    color: #fff;

                    p {
                        font-size: 48px;

                        strong {
                            color: #fff;
                        }
                    }

                    small {
                        font-size: 18px;
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .sns {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 95px;

        h3 {
            font-size: 38px;
            line-height: 1.1em;
            text-align: center;
            vertical-align: middle;

            strong {
                color: #68b445;
                margin: 0;
            }

            span {
                color: #333;
                margin-left: 8px;
            }

            a {
                display: inline-block;

                img {
                    width: 41px;
                    vertical-align: middle;
                }
            }
        }
    }

    .footer {
        width: 100%;
        margin: 0 auto;
        background-color: #222;
        display: block;

        .footer_1 {
            width: 60%;
            margin: 0 auto;
            overflow: hidden;
            position: relative;

            p {
                width: 100%;
                font-size: 13px;
                color: #b3b3b3;
                float: left;
                white-space: pre-line;
            }

            .button {
                .top {
                    position: fixed;
                    width: 54px;
                    z-index: 100;
                    display: block;
                    right: 65px;
                    bottom: 90px;
                }
            }
        }
    }
}
